[Unit]
Description=Passman background deamon.
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/home/patrick/Documents/SS2020/Rust/passman/target/debug/passman-daemon

[Install]
WantedBy=multi-user.target

# cp passman.service /etc/systemd/system/
# systemctl start passman