[Unit]
Description=Passman background deamon.
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/home/<<USER>>/passman/target/debug/passmand

[Install]
WantedBy=multi-user.target
